/* Normalize */
@import 'normalize.css';

/* Tailwind */
@tailwind components;
@tailwind utilities;

@import './fontFace.css';

:root {
  --accent: #e7a925;
  --bg: #f5e1b2;
  --bg2: #ead2a0;
  --bg-3: #fff4db;
  --ligth: #d9d1d1;
  --gray: #6a6a6a;
  --blue: #3f57b2;
  --brown: #613f1b;

  --gradient: linear-gradient(
    90.07deg,
    var(--accent) 0.04%,
    var(--blue) 98.89%
  );

  --c-font: #000;
  --black1: #171717;
  --black2: #291b0b;

  --border-radius: 10px;
}
